@font-face {
    font-family: 'Pixel_font';
    src: url('../fonts/Chava-Regular.woff2') format('woff2'),
         url('../fonts/Chava-Regular.woff2') format('woff2');
    /* Добавьте другие форматы шрифта, если это необходимо */
    font-weight: normal;
    font-style: normal;
}
