<!-- work/templates/header.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Your Page Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
</head>
<body>
    <div class="header">
        <div class="nav">
            <h2><a href="#" class="nav-link">Communication</a></h2>
            <h2><a href="#" class="nav-link">Friends</a></h2>
            <h2><a href="#" class="nav-link">News</a></h2>
        </div>
        <h2 class="name">Name</h2> <!-- Переместили надпись рядом с иконкой -->
        <img class="profile-icon" src="../static/img/космонафт.png" alt="Profile Icon">
    </div>
</body>
</html>
