<!-- work/templates/index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Your Page Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css">

    <link rel="stylesheet" type="text/css" href="/static/css/register.css">
</head>
<body>
    <div class="registration-container">
        <div class="registration-box">
            <h2>SIGN IN</h2>
            <form method="POST" action = "">
                <input type="text" placeholder="Name" name = "username">
                <input type="text" placeholder="Password" name = "password1">
                <input type="text" placeholder="Confirm Password" name = "password2">
                <button type="submit">next</button>
            </form>
        </div>
    </div>
</body>
</html>
